extends layout

block content
    include includes/jumbotron.pug
    .main.container.clearfix
        .row
            h1.display-4
                | #{data}
                #bigfella(style="width:400px; height:320px")
                script(rel="text/javascript" src="/javascripts/sensor.js")